<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 center container">
        <div class="topnav" id="myTopnav">
          <a href="#home" class="active">Accueil</a>
          <a href="#news">TABLE DE BORD</a>
          <a href="#contact">FLOW</a>
          <a href="#about">RAPPORT</a>
          <a href="javascript:void(0);" class="icon" (click)="menu()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div> 
  </div>
</nav>